.container{
    display:flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}

.w-40{
    width: 40%;
}

.item{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
    color:white;
    font-size: 40px;
    text-align: center;
}

.body{
    background-color: gray;
}
