.inventory-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 20px 24px;
}

.card__stat-item {
  width: 80%;
}

.card__stats .card__stat-item:first-child {
  align-items: first;
  padding-left: 0;
}

.card__stats .card__stat-item:last-child {
  align-items: end;
  padding-right: 0;
}

.card__stats .card__stat-item:not(:first-child):not(:last-child) {
  align-items: center;
}

.card-products__header {
  display: flex;
  justify-content: space-between;
}

.table-list-products {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse; /*fusionner les bordures des cellules adjacentes en une seule ligne*/
}

.table-list-products > thead > tr > th {
  color: var(--color-gray-light);
  text-align: left;
}

.table-list-products > thead > tr {
  height: 50px;
}

.table-list-products > tbody > tr {
  color: var(--color-text-dark);
  height: 50px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.table-list-products > tbody > tr:last-child {
  border-bottom: 0px;
}

.product-list-footer {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

/**** MODAL*****/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-overlay--active {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #ffffff;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  padding: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.modal__title {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.form__group {
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  margin-bottom: 16px;
}

.form__label {
  font-size: 14px;
  color: var(--color-text-dark);
}

.form__input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

.modal__upload {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  gap: 10px;
}

.modal__upload > .modal__dropzone {
  width: 70px;
  height: 70px;
  border: 1px dashed var(--color-gray-light);
}

.modal__upload > .modal__uploader > p {
  text-align: center;
}

.modal__upload > .modal__uploader > p {
  font-size: 14px;
}
/****************/
