.container {
  width: 100%;
  /*centrer horizontalement un élément de type bloc (comme une div) à l'intérieur de son parent.*/
  margin-left: auto;
  margin-right: auto;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login{
    width: 70%;
}

.debug{
    border: 1px solid red;
}

/** GRID **/
.grid {
  .row {
    width: 100%;
    display: flex;
  }
}

.col-sm{
    width: 50%;
}
/***/

.logo-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .img-logo{
        width: 40%;
    }
}