@font-face{
    font-family: "afta-sans";
    src: url('../fonts/afta-sans/AftaSansThin-Italic.otf') format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: "afta-sans";
    src: url('../fonts/afta-sans/AftaSansThin-Regular.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/poppins/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/poppins/Poppins-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/poppins/Poppins-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/poppins/Poppins-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}